body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Customize amplify colors*/
:root {
  --amplify-primary-color: #319795;
  --amplify-primary-tint: #38B2AC;
  --amplify-primary-shade: #4FD1C5;
}
